@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Shrikhand);
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
@keyframes open-card {
  0% {
    opacity: 0;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
  }
}
#menus fieldset .card:nth-child(1) {
  -webkit-animation: open-card 1s 50ms backwards ease-in-out;
  -moz-animation: open-card 1s 50ms backwards ease-in-out;
  animation: open-card 1s 50ms backwards ease-in-out;
}

#menus fieldset .card:nth-child(2) {
  -webkit-animation: open-card 1s 150ms backwards ease-in-out;
  -moz-animation: open-card 1s 150ms backwards ease-in-out;
  animation: open-card 1s 150ms backwards ease-in-out;
}

#menus fieldset .card:nth-child(3) {
  -webkit-animation: open-card 1s 250ms backwards ease-in-out;
  -moz-animation: pen-card 1s 250ms backwards ease-in-out;
  animation: open-card 1s 250ms backwards ease-in-out;
}

#menus fieldset .card:nth-child(4) {
  -webkit-animation: open-card 1s 350ms backwards ease-in-out;
  -moz-animation: open-card 1s 350ms backwards ease-in-out;
  animation: open-card 1s 350ms backwards ease-in-out;
}

#menus fieldset .card:nth-child(5) {
  -webkit-animation: open-card 1s 450ms backwards ease-in-out;
  -moz-animation: open-card 1s 450ms backwards ease-in-out;
  animation: open-card 1s 450ms backwards ease-in-out;
}

#menus fieldset .card:nth-child(6) {
  -webkit-animation: open-card 1s 550ms backwards ease-in-out;
  -moz-animation: open-card 1s 550ms backwards ease-in-out;
  animation: open-card 1s 550ms backwards ease-in-out;
}

#menus fieldset .card:nth-child(7) {
  -webkit-animation: open-card 1s 650ms backwards ease-in-out;
  -moz-animation: open-card 1s 650ms backwards ease-in-out;
  animation: open-card 1s 650ms backwards ease-in-out;
}

#menus fieldset .card:nth-child(8) {
  -webkit-animation: open-card 1s 750ms backwards ease-in-out;
  -moz-animation: open-card 1s 750ms backwards ease-in-out;
  animation: open-card 1s 750ms backwards ease-in-out;
}

#menus fieldset .card:nth-child(9) {
  -webkit-animation: open-card 1s 850ms backwards ease-in-out;
  -moz-animation: open-card 1s 850ms backwards ease-in-out;
  animation: open-card 1s 850ms backwards ease-in-out;
}

#menus fieldset .card:nth-child(10) {
  -webkit-animation: open-card 1s 950ms backwards ease-in-out;
  -moz-animation: open-card 1s 950ms backwards ease-in-out;
  animation: open-card 1s 950ms backwards ease-in-out;
}

/*** REGLAGES GENERAUX***/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  font-family: "Roboto", Tahoma, sans-serif;
  color: black;
}

h1 {
  font: normal bold 22px/33px "Roboto", Tahoma;
  text-align: center;
  line-height: 30px;
}

h2 {
  font: normal normal 18px/26px "Roboto", Tahoma;
  text-align: center;
  padding-top: 20px;
}

h3 {
  font: normal bold 22px/33px "Roboto", Tahoma;
  text-align: left;
}

h4 {
  font: normal normal 18px/28px "Roboto", Tahoma;
  text-align: left;
}

h5, .title {
  font: normal bold 18px/28px "Roboto", Tahoma;
  text-align: left;
}

a {
  color: black;
  text-align: center;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

p, .para {
  text-align: left;
}

i.far {
  cursor: pointer;
  font-size: xx-large;
  color: black;
  font-weight: lighter;
}
i.far:active {
  animation: fill 0.3s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: bolder;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
}
header #top-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding-top: 2px;
  width: 100%;
}
header #top-logo img {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #top-logo .link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  object-fit: cover;
}
header #top-logo .button-return {
  position: relative;
  right: 80px;
}

@media screen and (min-width: 768px) {
  header .top_logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
/***MAIN***/
main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#search-section {
  padding: 0px;
  width: 100%;
}

#search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 13px 7px #000000;
  background-color: #e2dddd;
  padding: 8px;
  width: 100%;
}
#search #localisation {
  background-color: #e2dddd;
  border: none;
  text-align: center;
  font-weight: bold;
}
#search label {
  position: absolute;
  left: -999px;
}

#search-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f3f0f0;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
#search-restaurant h1 {
  width: 45%;
}

#functioning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 10px auto;
  padding: 5%;
}
#functioning ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#functioning .card-functioning {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-around;
  height: 60px;
  width: 300px;
  background-color: whitesmoke;
  box-shadow: 0px 5px 10px #969393;
  margin: 20px;
  border-radius: 20px;
  border-top: none;
  cursor: pointer;
}
#functioning .card-functioning:hover {
  box-shadow: 0px 7px 15px #969393;
  background-color: #e2e6e6;
}
#functioning .card-functioning:hover i {
  color: #9356DC;
}
#functioning .card-functioning .serial-number {
  position: absolute;
  left: -15px;
  height: 28px;
  border-radius: 50%;
  font-weight: normal;
  color: #f6f0f0;
  background-color: #9356DC;
  padding: 5px 10px 8px 8px;
}
#functioning .card-functioning i {
  position: absolute;
  left: 30px;
  height: 20px;
  padding-right: 5px;
}
#functioning .card-functioning span {
  font-weight: bold;
  position: absolute;
  left: 60px;
}

/*** MEDIA QUERIES*** Petites tailles d'écran max 375px***/
@media screen and (min-width: 768px) {
  #functioning {
    padding: 10px;
  }
  #functioning h3 {
    text-align: center;
  }
  #functioning ul {
    margin: 20px;
  }

  #search-restaurant h1 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  #functioning ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
#restaurants {
  background-color: whitesmoke;
  width: 100%;
  padding: 5%;
  padding-left: 30px;
}

#restaurants .card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: whitesmoke;
  word-spacing: normal;
  color: black;
  text-decoration: none;
}

#restaurants .card {
  margin: 20px 5px 20px 5px;
  border: none;
  box-shadow: 0px 5px 20px #b8b7b7;
  border-radius: 20px;
  width: 95%;
}
#restaurants .card:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
#restaurants .card .card-header {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
#restaurants .card .button__button--new {
  position: absolute;
  top: 5%;
  right: 5%;
}
#restaurants .card img {
  display: block;
  object-fit: cover;
  height: 180px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#restaurants .card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#restaurants .card-body .card-body__text {
  justify-content: left;
  padding: 10px;
}
#restaurants .card-body .card-body__text h4 {
  font-weight: 800;
}
#restaurants .card-body i.far {
  cursor: pointer;
  font-size: xx-large;
  color: black;
}
#restaurants .card-body i.far:active, #restaurants .card-body i.far:hover {
  animation: fill 0.5s ease-in-out;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  display: inline-block;
  opacity: 1;
}

@keyframes fill {
  0% {
    opacity: 0.4;
  }
  25% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
#menus {
  background-color: whitesmoke;
  width: 100%;
}
#menus .top_banniere {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
#menus .top_banniere img {
  width: 100%;
  height: 340px;
  object-fit: cover;
}
#menus .menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  position: relative;
  top: -65px;
  border: none;
  border-radius: 40px 40px 0px 0px;
  width: 100%;
  background-color: whitesmoke;
  color: black;
  text-decoration: none;
}
#menus .menu-container .button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 50px;
}

#menus .menu-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 12px;
  height: 70px;
  width: 100%;
}
#menus .menu-title h3 {
  font: normal normal 30px/33px "Shrikhand", tahoma;
}

#menus h4 {
  white-space: none;
  padding-bottom: 10px;
  padding-left: 12px;
}
#menus h4 span {
  border-bottom: solid 3px #99E2D0;
  padding-bottom: 5px;
}

#menus form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form fieldset {
  border: none;
  outline: none;
  margin-top: 40px;
}

#menus .card {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#menus .card label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 3px 3px 0px #b8b7b7;
  border-radius: 20px;
  height: 70px;
  width: 400px;
  overflow: hidden;
  cursor: pointer;
}
#menus .card label .menu-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8px;
  width: 70%;
  white-space: nowrap;
}
#menus .card label .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  right: -70px;
  height: 100%;
  width: 30%;
}
#menus .card label .container .cost {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: bold;
  height: 100%;
  width: 50%;
  padding-bottom: 11px;
}
#menus .card label .container .check {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background-color: #99E2D0;
  font-size: x-large;
  height: 100%;
  width: 50%;
  overflow: hidden;
  border-radius: 0px 20px 20px 0px;
}

#menus input:checked + label .menu-text .para {
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
#menus input:checked + label .menu-text .title {
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
}

input:checked + label .container {
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
}
input:checked + label .container i {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
input:checked + label .container .cost {
  transform-origin: 0px;
  -webkit-transform-origin: 0px;
  -moz-transform-origin: 0px;
  -o-transform-origin: 0px;
}
input:checked + label .container {
  transform: translateX(-70px);
  -webkit-transform: translateX(-70px);
  -moz-transform: translateX(-70px);
  -o-transform: translateX(-70px);
  transition: transform 500ms ease-in-out;
  -webkit-transition: transform 500ms ease-in-out;
  -moz-transition: transform 500ms ease-in-out;
  -o-transition: transform 500ms ease-in-out;
}
input:checked + label .container i {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transition: transform 500ms ease-in-out;
  -webkit-transition: transform 500ms ease-in-out;
  -moz-transition: transform 500ms ease-in-out;
  -o-transition: transform 500ms ease-in-out;
}
input:checked + label .container .cost {
  transform-origin: right -20px;
  -webkit-transform-origin: right -20px;
  -moz-transform-origin: right -20px;
  -o-transform-origin: right -20px;
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -o-transform: translateX(20px);
  transition: transform 600ms ease-in-out;
  -webkit-transition: transform 600ms ease-in-out;
  -moz-transition: transform 600ms ease-in-out;
  -o-transition: transform 600ms ease-in-out;
  padding-left: 0px;
}

input:not(:checked) + label .container {
  transform: translateX(70px);
  -webkit-transform: translateX(70px);
  -moz-transform: translateX(70px);
  -o-transform: translateX(70px);
  transition: transform 500ms ease-in-out;
  -webkit-transition: transform 500ms ease-in-out;
  -moz-transition: transform 500ms ease-in-out;
  -o-transition: transform 500ms ease-in-out;
}
input:not(:checked) + label .container i {
  transform: rotate(-360deg);
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  -webkit-transition: transform 500ms ease-in-out;
  -moz-transition: transform 500ms ease-in-out;
  -o-transition: transform 500ms ease-in-out;
}
input:not(:checked) + label .container .cost {
  transform-origin: right 20px;
  -webkit-transform-origin: right 20px;
  -moz-transform-origin: right 20px;
  -o-transform-origin: right 20px;
  transform: translateX(-20px);
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -o-transform: translateX(-20px);
  transition: transform 600ms ease-in-out;
  -webkit-transition: transform 600ms ease-in-out;
  -moz-transition: transform 600ms ease-in-out;
  -o-transition: transform 600ms ease-in-out;
}
input:not(:checked) + label .container {
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
}
input:not(:checked) + label .container i {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
input:not(:checked) + label .container .cost {
  transform-origin: 0px;
  -webkit-transform-origin: 0px;
  -moz-transform-origin: 0px;
  -o-transform-origin: 0px;
}

#menus input {
  position: absolute;
  left: -9999px;
}

input[type=checkbox]:checked + label {
  display: block;
}

input[type=checkbox]:not(:checked) + label {
  display: block;
}

/*** MEDIA QUERIES*** Pour tablette_taille d'écran à partir de 768px***/
@media screen and (min-width: 768px) {
  #restaurants {
    padding: 10px;
  }
  #restaurants h3 {
    text-align: center;
  }
  #restaurants .card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #restaurants .card {
    margin: 20px;
    width: 360px;
  }

  #menus .menu-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    height: 90px;
  }

  #menus .top_banniere img {
    height: 260px;
    width: 100%;
    object-fit: cover;
  }
  #menus .menu-container {
    padding-top: 25px;
    position: relative;
    top: -55px;
  }

  #menus form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  #menus form fieldset {
    margin: 10px 5px;
  }
  #menus form h4 {
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  #restaurants .card {
    margin: 50px;
  }

  #menus.menu-container {
    padding-top: 25px;
    position: relative;
    top: -55px;
    width: 100%;
  }

  fieldset {
    margin: 10px 5px;
  }
}
/***Section footer***/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-wrap: nowrap;
  text-decoration: none;
  color: whitesmoke;
  text-indent: 8px;
  min-height: 150px;
  width: 100%;
}
footer .footer-title {
  font: oblique normal 18px/24px "Shrikhand";
  padding-bottom: 10px;
  text-indent: 8px;
}
footer .footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 26px;
  height: 160px;
  width: 100%;
  background-color: #535050;
  color: whitesmoke;
  text-decoration: none;
}
footer .footer-nav a {
  width: 100%;
  text-align: center;
  font: normal normal 16px/22px "Roboto", Tahoma;
  color: whitesmoke;
  line-height: 20px;
}

@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-title {
    text-align: left;
  }
}
.button {
  background: -webkit-linear-gradient(bottom, #9356DC, #FF79DA);
  font-size: 18px;
  font-family: "roboto", tahoma, sans-serif;
  color: whitesmoke;
  box-sizing: content-box;
  padding: 5px;
  margin: 20px;
  border-top: 20px;
  border-style: none;
  border-radius: 30px;
  letter-spacing: 1px;
  box-shadow: 0 5px 15px #969393;
  height: 50px;
  width: 260px;
  opacity: 1;
}
.button:hover {
  transform: scale(1.02);
  transition: 0, 2s;
  cursor: pointer;
  opacity: 0.75;
  box-shadow: 0 10px 20px #969393;
}

.button--new {
  display: grid;
  font-weight: bold;
  place-items: center;
  position: absolute;
  border: none;
  right: 10px;
  top: 10px;
  width: 80px;
  height: 30px;
  background: #99E2D0;
  color: #539784;
  border-radius: 2px;
  font-size: 14px;
  padding: 5px;
}

/***---LOADING SPINNER---***/
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  position: fixed;
  z-index: 5;
  pointer-events: none;
}

.spin {
  display: flex;
  flex-direction: row;
  position: relative;
  top: -10px;
  left: 20px;
}
.spin .spinner-1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #9356DC;
  margin: 4px;
  animation: spin 3000ms 0ms ease-in-out both;
  -webkit-animation: spin 3000ms 0ms ease-in-out both;
  -moz-animation: spin 3000ms 0ms ease-in-out both;
  animation-direction: reverse;
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
}
.spin .spinner-2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FF79DA;
  margin: 4px;
  animation: spin 3000ms 200ms ease-in-out both;
  -webkit-animation: spin 3000ms 200ms ease-in-out both;
  -moz-animation: spin 3000ms 200ms ease-in-out both;
  animation-direction: reverse;
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
}
.spin .spinner-3 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #99E2D0;
  margin: 4px;
  animation: spin 3000ms 400ms ease-in-out both;
  -webkit-animation: spin 3000ms 400ms ease-in-out both;
  -moz-animation: spin 3000ms 400ms ease-in-out both;
  animation-direction: reverse;
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
}

.loading {
  position: relative;
  left: -20px;
  top: 20px;
  width: 100px;
  height: 100px;
  color: #9356DC;
  font: normal bold 24px/36px "Roboto", sans-serif;
}

.loader {
  animation: time_spin 3000ms ease-in-out both;
  -webkit-animation: time_spin 3000ms ease-in-out both;
  -moz-animation: time_spin 3000ms ease-in-out both;
}

@keyframes time_spin {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes spin {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-30px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: tranlateY(-30px);
  }
  80% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-30px);
  }
}

/*# sourceMappingURL=style.css.map */
