@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Shrikhand);
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
@keyframes open-card {
  0% {
    opacity: 0;
    transform: translateY(0.3);
    -webkit-transform: translateY(0.3);
  }
  100% {
    opacity: 1;
    transform: translateY(1);
    -webkit-transform: translateY(0);
  }
}
#menus .card-container .card:nth-child(1) {
  -webkit-animation: open-card 1s 0ms backwards ease-in-out;
  animation: open-card 1s 0ms backwards ease-in-out;
}

#menus .card-container .card:nth-child(2) {
  -webkit-animation: open-card 1s 0ms backwards ease-in-out;
  animation: open-card 1s 0ms backwards ease-in-out;
}

#menus .card-container .card:nth-child(3) {
  -webkit-animation: open-card 1s 50ms backwards ease-in-out;
  animation: open-card 1s 50ms backwards ease-in-out;
}

#menus .card-container .card:nth-child(4) {
  -webkit-animation: open-card 1s 150ms backwards ease-in-out;
  animation: open-card 1s 150ms backwards ease-in-out;
}

#menus .card-container .card:nth-child(5) {
  -webkit-animation: open-card 1s 250ms backwards ease-in-out;
  animation: open-card 1s 250ms backwards ease-in-out;
}

#menus .card-container .card:nth-child(6) {
  -webkit-animation: open-card 1s 350ms backwards ease-in-out;
  animation: open-card 1s 350ms backwards ease-in-out;
}

#menus .card-container .card:nth-child(7) {
  -webkit-animation: open-card 1s 0ms backwards ease-in-out;
  animation: open-card 1s 0ms backwards ease-in-out;
}

#menus .card-container .card:nth-child(8) {
  -webkit-animation: open-card 1s 450ms backwards ease-in-out;
  animation: open-card 1s 450ms backwards ease-in-out;
}

#menus .card-container .card:nth-child(9) {
  -webkit-animation: open-card 1s 550ms backwards ease-in-out;
  animation: open-card 1s 550ms backwards ease-in-out;
}

#menus .card-container .card:nth-child(10) {
  -webkit-animation: open-card 1s 650ms backwards ease-in-out;
  animation: open-card 1s 650ms backwards ease-in-out;
}

#menus .card-container .card:nth-child(11) {
  -webkit-animation: open-card 1s 0ms backwards ease-in-out;
  animation: open-card 1s 0ms backwards ease-in-out;
}

#menus .card-container .card:nth-child(12) {
  -webkit-animation: open-card 1s 750ms backwards ease-in-out;
  animation: open-card 1s 750ms backwards ease-in-out;
}

#menus .card-container .card:nth-child(13) {
  -webkit-animation: open-card 1s 850ms backwards ease-in-out;
  animation: open-card 1s 850ms backwards ease-in-out;
}

#menus .card-container .card:nth-child(14) {
  -webkit-animation: open-card 1s 950ms backwards ease-in-out;
  animation: open-card 1s 950ms backwards ease-in-out;
}

/*** REGLAGES GENERAUX***/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  font-family: "Roboto", Tahoma, sans-serif;
  color: black;
}

h1 {
  font: normal bolder 22px/33px "Roboto", Tahoma;
  text-align: center;
  line-height: 30px;
}

h2 {
  font: normal normal 18px/26px "Roboto", Tahoma;
  text-align: center;
  line-height: 25px;
  padding-top: 20px;
}

h3 {
  font: normal bolder 22px/33px "Roboto", Tahoma;
  text-align: left;
}

h4 {
  font: normal normal 18px/28px "Roboto", Tahoma;
  text-align: left;
}

h5 {
  font: normal normal 18px/28px "Roboto", Tahoma;
  text-align: left;
}

a {
  color: black;
  text-align: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  font: normal bold 14px/20px "Roboto" Tahoma;
  text-align: left;
}

i.far {
  justify-content: right;
  cursor: pointer;
  font-size: xx-large;
  color: black;
  font-weight: lighter;
}
i.far:hover {
  animation: fill 0.3s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  min-width: 360px;
}
header #top-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding-top: 2px;
  width: 100%;
}
header #top-logo img {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #top-logo .button-return {
  position: relative;
  right: 50px;
}

/***MAIN***/
main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#search-section {
  padding: 0px;
  width: 100%;
}

#search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 13px 7px #000000;
  background-color: #e2dddd;
  padding: 8px;
  width: 100%;
}
#search #localisation {
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: #e2dddd;
  border: none;
  text-align: center;
  font-weight: bold;
}
#search label {
  position: absolute;
  left: -999px;
}

section #search-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f3f0f0;
  word-spacing: normal;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#functioning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 10px auto;
  padding: 20px;
}
#functioning h3 {
  padding-left: 10px;
  text-align: left;
}
#functioning ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#functioning li {
  padding-left: 50px;
  padding-right: 50px;
}

#functioning .card-functioning {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  justify-content: space-around;
  height: 50px;
  width: 280px;
  background-color: #ece6e6;
  box-shadow: 0px 5px 20px #969393;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  border-top: none;
  overflow-x: none;
}
#functioning .card-functioning .serial-number {
  position: absolute;
  align-self: center;
  left: -15px;
  height: 28px;
  border-radius: 50%;
  font-weight: normal;
  color: whitesmoke;
  background-color: #9356DC;
  padding: 5px 10px 8px 8px;
}
#functioning .card-functioning i {
  font: normal bold 25px/30px "Roboto" Tahoma;
  position: relative;
  height: 20px;
}

/*** MEDIA QUERIES*** Petites tailles d'écran max 375px***/
@media screen and (min-width: 768px) {
  #functioning {
    padding: 10px;
  }
  #functioning h3 {
    text-align: center;
  }
  #functioning ul {
    margin: 20px;
  }
}
@media screen and (min-width: 992px) {
  #functioning ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
#restaurants {
  background-color: whitesmoke;
  width: 100%;
  padding: 20px;
}

#restaurants .card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: whitesmoke;
  word-spacing: normal;
  color: black;
  text-decoration: none;
}

#restaurants .card {
  margin: 20px 5px 20px 5px;
  border: none;
  box-shadow: 0px 5px 20px #b8b7b7;
  border-radius: 20px;
  width: 360px;
}
#restaurants .card:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
#restaurants .card .card-header {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
#restaurants .card .button__button--new {
  position: absolute;
  top: 5%;
  right: 5%;
}
#restaurants .card img {
  display: block;
  object-fit: cover;
  height: 180px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#restaurants .card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#restaurants .card-body .card-body__text {
  justify-content: left;
  padding: 10px;
}
#restaurants .card-body .card-body__text h4 {
  font-weight: 800;
}
#restaurants .card-body i.far {
  justify-content: right;
  cursor: pointer;
  font-size: xx-large;
  font-weight: lighter;
  color: black;
}
#restaurants .card-body i.far:hover {
  animation: fill 0.3s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}

#menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#menus .top_banniere img {
  width: 320px;
}

#menus .menu-container .menu-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 12px;
  height: 70px;
}
#menus .menu-container .menu-title h3 {
  font: normal normal 22px/33px "Shrikhand", tahoma;
}

.menu-container h4 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  white-space: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
}
.menu-container h4 span {
  border-bottom: solid 2px #99E2D0;
  white-space: none;
  padding-top: 2px;
}

#menus .menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 25px;
  position: relative;
  top: -45px;
  border: none;
  border-radius: 40px;
  width: 100%;
  background-color: whitesmoke;
  color: black;
  text-decoration: none;
}
#menus .menu-container fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
#menus .menu-container fieldset h5 {
  font-weight: bold;
  text-overflow: ellipsis;
}
#menus .menu-container fieldset p {
  text-overflow: ellipsis;
}
#menus .menu-container fieldset .button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
}

form fieldset {
  border: none;
  outline: none;
}

#menus .card label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border: none;
  box-shadow: 0px 5px 5px 0px #b8b7b7;
  border-radius: 20px;
  height: 80px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}
#menus .card label .menu-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  padding-left: 4px;
  width: 65%;
  font-size: 14px;
  white-space: nowrap;
}
#menus .card label .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 35%;
}
#menus .card label .container p {
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-weight: bold;
  height: 100%;
  padding-right: 5px;
  padding-bottom: 12px;
}
#menus .card label .container .check {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background-color: #99E2D0;
  font-size: x-large;
  position: relative;
  right: -70px;
  height: 100%;
  width: 50%;
  overflow: hidden;
  border-radius: 0px 20px 20px 0px;
}

.menu-text p {
  text-overflow: ellipsis;
  display: inline;
  overflow: hidden;
  white-space: nowrap;
}
.menu-text h5 {
  text-overflow: ellipsis;
  display: inline;
  overflow: hidden;
}

input:checked + label .container {
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
}
input:checked + label .container i {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
input:checked + label .container {
  transform: translateX(-70px);
  -webkit-transform: translateX(-70px);
  -moz-transform: translateX(-70px);
  -o-transform: translateX(-70px);
  transition: transform 500ms ease-in-out;
  -webkit-transition: transform 500ms ease-in-out;
  -moz-transition: transform 500ms ease-in-out;
  -o-transition: transform 500ms ease-in-out;
}
input:checked + label .container i {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transition: transform 500ms ease-in-out;
  -webkit-transition: transform 500ms ease-in-out;
  -moz-transition: transform 500ms ease-in-out;
  -o-transition: transform 500ms ease-in-out;
}

#menus input {
  position: absolute;
  left: -9999px;
}

input[type=checkbox] + label {
  display: none;
}

input[type=checkbox]:checked + label {
  display: block;
}

/*** MEDIA QUERIES*** Pour tablettes_taille d'écran min 768px***/
@media screen and (min-width: 768px) {
  #restaurants {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }
  #restaurants h3 {
    text-align: center;
  }
  #restaurants .card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #restaurants .card {
    margin: 20px;
    border: none;
    box-shadow: 0px 5px 20px #b8b7b7;
    border-radius: 20px;
    width: 360px;
  }
}
@media screen and (min-width: 992px) {
  #restaurants .card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #restaurants .card {
    margin: 50px;
    border: none;
    box-shadow: 0px 5px 20px #b8b7b7;
    border-radius: 20px;
    width: 360px;
  }
}
/*
@media screen and (min-width: 360px){
  #menus .card
    {
  margin: 10px 5px 10px 5px;

      .menu-text {  
    padding-left: 8px; 
    width: 60%;    
    font-size:16px;
    }
      .container
    {
    width: 40%;

        p {  
        padding-bottom:12px;
          }
        .check {       
        width: 45%;
        border-radius: 0px 20px 20px 0px;        
          }
    }
  } 
}

 @media screen and(min-width: 420px){


  #menus {    
    min-width: 420px;
    .top_banniere img{
      min-width:420px;
           }      

  #menus .menu-container{
    min-width:420px;
  }
  #menus .card
  {
margin: 20px;
min-width: 95%;

    .menu-text {  
  padding-left: 12px; 
  min-width: 70%;    
  font-size:16px;
  }
    .container
  {
  min-width: 30%;
  padding-left: 0px;  
      p {  
      padding-bottom:12px;      
        }
      .check {      
      width: 50%;
      border-radius: 0px 20px 20px 0px;        
        }
  }
} 



@media screen and(min-width: 992px){


    #restaurants .card{ 
      margin-left: 50px;
      margin-right: 50px;
      border: none;
      box-shadow: 0px 5px 20px rgb(184, 183, 183);
      border-radius: 20px;
      width: 360px;

  }
}
*/
/***Section footer***/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-wrap: nowrap;
  text-decoration: none;
  color: whitesmoke;
  margin: auto;
  margin-top: 10px;
  text-indent: 8px;
  min-height: 150px;
  width: 100%;
}
footer .footer-title {
  font: oblique normal 18px/24px "Shrikhand";
  padding-bottom: 10px;
  text-indent: 8px;
}
footer .footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 22px;
  height: 160px;
  width: 100%;
  background-color: #535050;
  color: whitesmoke;
  text-decoration: none;
  margin: 10px;
}
footer .footer-nav a {
  width: 100%;
  text-align: center;
  font: normal normal 16px/22px "Roboto" Tahoma;
  text-decoration: none;
  color: whitesmoke;
  line-height: 20px;
}

/*** MEDIA QUERIES***/
/*
@media screen and (min-width: 320px){
    footer
    {
     min-height: 150px;
     width: 320px;
    }
}

@media screen and (min-width: 375px){
    footer
    {
     width: 375px;
    }
}

@media screen and (min-width: 420px){
    footer
    {
     width: 100%;
    }
}
*/
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-title {
    text-align: left;
  }
}
.button {
  background: -webkit-linear-gradient(bottom, #9356DC, #FF79DA);
  font-size: 18px;
  color: whitesmoke;
  box-sizing: content-box;
  padding: 5px;
  margin: 20px;
  border-top: 20px;
  border-style: none;
  border-radius: 30px;
  letter-spacing: 1px;
  box-shadow: 0 5px 15px #969393;
  height: 50px;
  width: 260px;
}
.button:hover {
  transform: scale(1.02);
  transition: 0, 2s;
  cursor: pointer;
}

.button--new {
  display: grid;
  font-weight: bold;
  place-items: center;
  position: absolute;
  border: none;
  right: 10px;
  top: 10px;
  width: 80px;
  height: 30px;
  background: #99E2D0;
  color: #539784;
  border-radius: 2px;
  font-size: 14px;
  padding: 5px;
}

/*# sourceMappingURL=style.css.map */
