@import "./Utils/variables";
@import "./Layout/header";
@import "./Layout/container";
@import "./Composants/buttons";

* {
    padding: 0px;
    margin: 0px;
}

html,
body 
{
    width: auto;
    overflow-x: hidden;
}

body 
{
    display: flex;
    box-sizing: border-box;
    font-family: "Roboto", Tahoma, sans-serif;
    flex-direction: column;
    color: black;
    max-width: 480px;
}
h1 
{
   font: normal bolder 22px/ 33px "Roboto", Tahoma;
   text-align: center;
}

h2 
{
    font: normal normal 22px/ 33px "Roboto", Tahoma;
    text-align: center;
}

h3
{
    font: normal bolder 22px/ 33px "Roboto", Tahoma;
    text-align: left;
}

h4
{
    font: normal bolder 18px/ 28px "Roboto", Tahoma;
    text-align: left;
    padding-top: 20px;
}
h5
{
    text-align: left;
}

h6
{
    text-align: left;
}

a
{
    color: black;
    text-align: center;
    
}

ul {
    list-style-type: none;                    
    }
  
  
p
{
    font: normal bold 15px/ 20px "Roboto" Tahoma;
    text-align: left;
}



/*** Section LOGO, recherche, navbar***/



/***Section de localisation et recherche des restaurants***/

main
{
    padding: 0 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

#restaurants
{
    
    width: 420px;
    background-color: rgb(243, 240, 240);
    word-spacing: normal;
    padding-top: 10px;
    margin: 10px;
    color: black;
    text-decoration: none;
 
}
 
 /***Section footer***/

 footer
{
     min-height: 150px;
     margin: 20px;
     display: flex;
     align-content: center;
     text-indent: 2px;
     justify-content: center;
     flex-wrap: nowrap;
     text-decoration:none;
     color: whitesmoke;

     .footerTitle
    {
        font: oblique normal 18px/ 24px "Shrikhand"
    }
    .footernav
    {
        height: 160px;
        width: 450px;
        background-color: rgb(83, 80, 80);
        color: whitesmoke;
        text-decoration: none;
        padding: 15px;
        margin: 10px;
        a 
        {
            text-align: center;
            font: normal normal 16px/ 22px "Roboto" Tahoma;
            text-decoration: none;
            color: whitesmoke;
        }
    }
}
