@import "./Utils/variables";
@import "./Layout/header";

@import "./Layout/container";
@import "./Composants/buttons";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body 
{
 
    font-family: "Roboto", Tahoma, sans-serif;
    color: black;
}
h1 
{
   font: normal bolder 22px/ 33px "Roboto", Tahoma;
   text-align: center;
}

h2 
{
    font: normal normal 22px/ 33px "Roboto", Tahoma;
    text-align: center;
}

h3
{
    font: normal bolder 22px/ 33px "Roboto", Tahoma; 
    padding: 20px;
        font-weight: bold; 
        text-align: left;

}

h4
{
    font: normal bolder 18px/ 28px "Roboto", Tahoma;
    padding-top: 20px;
}
h5
{
    text-align: left;
}

h6
{
    text-align: left;
}

a
{
    color: black;
    text-align: center;
    
}

ul {
    list-style-type: none;                    
    }
  
  
p
{
    font: normal bold 15px/ 20px "Roboto" Tahoma;
    text-align: left;
}



/*** Section LOGO, recherche, navbar***/



/***Section de localisation et recherche des restaurants***/

main
{
    background-color: whitesmoke;
    width: 100%;
    margin: 0 auto;
    text-indent: 2px;
    flex: display;
    justify-content: center;
    align-items: space-around;
    flex-direction: center;

}



 
 /***Section footer***/

 footer
{
     min-height: 150px;
     margin: 20px;
     display: flex;
     align-content: center;
     text-indent: 2px;
     justify-content: center;
     flex-wrap: nowrap;
     text-decoration:none;
     color: whitesmoke;

     .footerTitle
    {
        font: oblique normal 18px/ 24px "Shrikhand"
    }
    .footernav
    {
        height: 160px;
        width: 100%;
        background-color: rgb(83, 80, 80);
        color: whitesmoke;
        text-decoration: none;
        padding: 15px;
        margin: 10px;
        a 
        {
            text-align: center;
            font: normal normal 16px/ 22px "Roboto" Tahoma;
            text-decoration: none;
            color: whitesmoke;
        }
    }
}
