* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html,
body 
{
    width: 100%;
   
}

body 
{
    font-family: "Roboto", Tahoma, sans-serif;
    text-align: center;
    color: black;
    max-width: 480px;
}
h1 
{
   font: normal bolder 22px/ 33px "Roboto", Tahoma;
}

h2 
{
    margin: 15px;
    font: normal normal 22px/ 33px "Roboto", Tahoma;
}

h3
{
    font: normal bolder 18px/ 24px "Roboto", Tahoma;
}

a 
{
    text-decoration: none;
    color: black;
}

.ol
{
    list-style-type: none;
    .ul
    {
    list-style-type: none;
    }
}

p
{
    font: normal normal 20px/ 30px Tahoma;
}


.card 
    {
    box-shadow: 0px 5px 20px rgb(184, 183, 183);
    &__:hover {
        transform: scale(1.01);
        transition: 0.2s;  
      }
    }
/*** Section LOGO, recherche, navbar***/



#functioning h2
{
    text-align:left;
    font-weight:bolder; 
}
#functioning .card
  {
      min-height: 50px;
      min-width: 300px;
      font: normal bolder 15px/ 20px Tahoma;
      background-color: rgb(236, 230, 230);
      box-shadow: rgb(150, 147, 147);
      margin: 20px;
      padding: 10px;
      border-radius: 10px;
      .__serial-number {
        text-align: left ;
        color: var(--purple);
      }
      .__i {
        color: black;
      }
  }

/***Section de localisation et recherche des restaurants***/

main
{
    min-height: 150px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-indent: 2px;
    justify-content: center;
    flex-wrap: wrap;
}

#restaurants
{
    width: 380px;
    background-color: rgb(243, 240, 240);
    word-spacing: normal;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    h2 + h3
    {
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
    }
    p 
    {
        font-weight: normal;
    }
}
 



 /***Section footer***/

 footer
{
     min-height: 150px;
     padding: 0 50px;
     display: flex;
     align-items: center;
     text-indent: 2px;
     justify-content: center;
     flex-wrap: wrap;  
     .footerTitle
    {
        font: oblique normal 18px/ 24px "Shrikhand"
    }
    .footernav
    {
        font: normal normal 16px/ 22px "Shrikhand";
        height: 160px;
        width: 410px;
        background-color: rgb(83, 80, 80);
        color: rgb(221, 216, 216);
        .ul
        {
     color: rgb(255, 255, 255);
        }
    }
}