/***MAIN***/

main
{
    background-color: whitesmoke;
    max-width: 420px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#restaurants
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 10px;
}


#restaurants .card-container 
{   
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;  
  width: 100%;
  background-color: rgb(243, 240, 240);
  word-spacing: normal;
  color: black;
  text-decoration: none;
      
}


#restaurants .card{ 
    margin: 20px 5px 20px 5px;
    border: none;
    box-shadow: 0px 5px 20px rgb(184, 183, 183);
    border-radius: 20px;
    width: 100%;
        
    &:hover {
    transform: scale(1.05);
    transition: 0.2s;  
      }
    .card-header {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
          } 
    .button__button--new {
    position: absolute;
    top: 5%;
    right: 5%;
      }
        
    img {
    display: block;
    height: 220px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
        }
}
#restaurants .card-body {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items:center;
  
  .card-body__text{
    justify-content: left;
    padding: 10px;
    h4{
      font-weight: 800;
    }
  }
  i.far {
    justify-content: right;
    cursor: pointer;
    font-size: xx-large;
    color: black;
    &:hover {
      animation: fill 0.3s ease-in-out;
      display: inline-block;
      opacity: 1;
      background:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
      background:-webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
      -webkit-background-clip: text;
      -webkit-text-fill-color:transparent;
      font-weight: bold;
      } 
    }
  }

#menus .card-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .menu-title{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    padding-bottom: 30px;
    padding-top: 40px;
    }
    h3{
      padding-right: 60px;
    }  
  }

#menus .card
    {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 5px 20px 5px;
  border: none;
  box-shadow: 0px 5px 20px rgb(184, 183, 183);
  border-radius: 20px;
  height: 70px;
  width:100%;
  overflow:hidden;
    
      .menu-text {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    padding-left: 8px; 
    width: 70%;
    white-space:nowrap;
    
    }
      .container
    {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    height: 70px;
    width: 30%;
         
    p {  
      display:flex;
      justify-content:center;
      align-items:center;
      font-weight: bold;
      height: 100%;
      padding-right: 20px;
    
      }

   .check {
    display:flex;
    justify-content: center;
    align-items:center;
    color: whitesmoke;
    background-color: $tertiary-color;
    font-size: x-large;
    height: 100%;
    width: 50%;
    border-radius: 0px 20px 20px 0px;
    
    }
  }
} 

.card{
  &:hover h5 {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden
        }
       &:hover p {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden
        }
}    
      
#menus {
  display: flex;
  flex-direction: column;  
  align-items: center;
  width: 420px;
  min-width: 320px;

.img{
    width:100%;
  }
  .menu-title{
    display: inline-flex;
    flex-direction: row ;
    h3
    {
      align-items:space-around;
      font: normal normal 22px/ 33px "Shrikhand", tahoma;
    }

    i.far{
     

    }
  }

  h4
  {  
    font-style: underline;
    white-space: normal;
    display: flex;
  }
  
  span {
    border-bottom: solid 2px $tertiary-color;
    position: relative;
    white-space: normal;
    padding: 5px;
  }
}
  
#menus .card-container {
  padding-top: 25px;
  position: relative;
  top: -45px;
  border-radius: 35px;
  box-shadow: 0px 5px 20px rgb(184, 183, 183);  
  width:  360px;
  background-color: rgb(243, 240, 240);
  word-spacing: normal;
  color: black;
  text-decoration: none;
  h5{
    font-style: bold;
    left: 5px;
    text-overflow: ellipsis;
  }
  p{
    left: 5px;
    text-overflow: ellipsis;
  }
  .button{
    flex-direction:column;
    justify-content:right;
    align-items:center;
          }
  }

  .card
  {
    &:hover > .container{
          transform: translateX(0px);
        
              i{
                transform: rotate(0deg);
                }
        }
  
  
  .container{
   transform: translateX(70px);
   transition: transform 500ms ease-in-out;
 
      i{ 
     transform: rotate(360deg);
     transition: transform 500ms ease-in-out;
    }
  }
}




 

 