 /***Section footer***/

 footer
{
     
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: left;
     flex-wrap: nowrap;
     text-decoration:none;
     color: whitesmoke;
     margin: auto;
     margin-top: 10px;
     text-indent: 8px;
     min-height: 150px;
     width: 100%;

     .footer-title
    {
        font: oblique normal 18px/ 24px "Shrikhand";
        padding-bottom: 10px;
        text-indent: 8px;
    }
    .footer-nav
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height:22px;
        height: 160px;
        width: 100%;
        background-color: rgb(83, 80, 80);
        color: whitesmoke;
        text-decoration: none;
        margin: 10px;
        a 
        {
            width: 100%;
            text-align: center;
            font: normal normal 16px/ 22px "Roboto" Tahoma;
            text-decoration: none;
            color: whitesmoke;
            line-height: 20px;
        }
    }
}

/*** MEDIA QUERIES***/
/*
@media screen and (min-width: 320px){
    footer
    {
     min-height: 150px;
     width: 320px;
    }
}

@media screen and (min-width: 375px){
    footer
    {
     width: 375px;
    }
}

@media screen and (min-width: 420px){
    footer
    {
     width: 100%;
    }
}
*/


@media screen and (min-width: 768px) {

  footer{
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

  }
  .footer-title
  {
      text-align:left;
  }
}
