 /***Section footer***/

 footer
{
     min-height: 150px;
     min-width: 320px;
     display: flex;
     flex-direction: column;
     text-indent: 8px;
     justify-content: center;
     align-items: center;
     text-align: left;
     flex-wrap: nowrap;
     text-decoration:none;
     color: whitesmoke;

     .footer-title
    {
        font: oblique normal 18px/ 24px "Shrikhand";
        text-indent: 8px;
    }
    .footer-nav
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height:22px;
        height: 160px;
        width: 100%;
        background-color: rgb(83, 80, 80);
        color: whitesmoke;
        text-decoration: none;
        margin: 10px;
        a 
        {
            width: 420px;
            text-align: center;
            font: normal normal 16px/ 22px "Roboto" Tahoma;
            text-decoration: none;
            color: whitesmoke;
        }
    }
}

/*** MEDIA QUERIES***/
@media screen and (min-width: 668px) {

  footer{
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

}
