header 
{    
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width:100%;
  min-width: 360px;

#top-logo
  {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      padding-top: 2px;
      width: 100%;
      img {
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      }
      .button-return {
      position: relative;
      right: 50px;
      }
  }
}

@media screen and(min-width: 768px){
  header 
{    
  
}
}

@media screen and(min-width: 992px){
  header 
  {    
    
  }
  }