section #search-section
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 320px;
}

#search
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: rgb(226, 221, 221);
    box-shadow: 0px 10px 13px 7px #000000; 
    padding: 8px;
    width: 100%;
     #localisation
        {
        display:inline-block;
        justify-content:center;
        align-items: center;
        background-color:  rgb(226, 221, 221);
        border: none;
        text-align: center;
        }
    }
  
section #search-restaurant
  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: rgb(243, 240, 240);
        word-spacing: normal;
        font-weight: normal;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;  
  }

#functioning 
{  
  max-width:320px;
  margin:auto;
  padding: 15px;
  h3{
    
    text-align:left;   
  }
  ul{
    display: flex;
    flex-direction: column;
    align-items:center;
  }
}

#functioning .card-functioning
    {      
      display: flex;
      display:column;
      align-items: center;
      position: relative;
      justify-content: space-around;
      height: 50px;
      width: 280px;   
      background-color: rgb(236, 230, 230);
      box-shadow:0px 5px 20px  rgb(150, 147, 147);
      margin: 20px;
      padding: 10px;
      border-radius: 20px;
      border-top: none;
      overflow-x: none;
            
            .serial-number 
            {
            position: absolute;
            align-self: center;
            left: -15px;
            height: 28px;
            border-radius: 50%;
            font-weight: normal;
            color: whitesmoke;
            background-color: $primary-color;
            padding: 5px 10px 8px 8px;          
            }

            i{
              font: normal bold 25px/ 30px "Roboto" Tahoma;              
              position: relative;              
              height: 20px;
            }
   }

   /*** MEDIA QUERIES*** Petites tailles d'écran max 375px***/ 
 
@media screen and(max-width: 420px){
  
  section #search-section
    {
  max-width: 420px;
    }
}