.button
 {
    background: -webkit-linear-gradient(bottom, #9356DC, #FF79DA);
    font-size: 18px;
    color: whitesmoke;
    box-sizing: content-box;
    padding: 5px;
    margin: 20px;
    border-top: 20px;
    border-style: none;
    border-radius: 30px;
    letter-spacing: 1px;
    box-shadow: 0 5px 15px rgb(150, 147, 147);
    height: 50px;
    width: 260px; 
    &__button--new 
        {
            display: grid;
            font-weight: bold;
            place-items: center;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 80px;
            height: 30px;
            background: #99E2D0;
            color: #1b6150;
            border-radius: 5px;  
        }
    
    &:hover
        {
            transform: scale(1.02);
            transition: 0,2s;
            cursor: pointer;
        }
        
 }

    

