/*** REGLAGES GENERAUX***/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  font-family: "Roboto", Tahoma, sans-serif;
  color: black;
}

h1 {
  font: normal bolder 22px/33px "Roboto", Tahoma;
  text-align: center;
}

h2 {
  font: normal normal 22px/33px "Roboto", Tahoma;
  text-align: center;
}

h3 {
  font: normal bolder 22px/33px "Roboto", Tahoma;
  padding: 20px;
  text-align: left;
}

h4 {
  font: underline normal 18px/28px "Roboto", Tahoma;
  padding-top: 20px;
  text-align: left;
}

h5 {
  font: normal normal 18px/28px "Roboto", Tahoma;
  text-align: left;
}

h6 {
  text-align: left;
}

a {
  color: black;
  text-align: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  font: normal bold 14px/20px "Roboto" Tahoma;
  text-align: left;
}

i.far {
  justify-content: right;
  cursor: pointer;
  font-size: xx-large;
  color: black;
}
i.far:hover {
  animation: fill 0.3s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-width: 320px;
}
header #top-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding-top: 2px;
  width: 100%;
}
header #top-logo img {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #top-logo .button-return {
  position: relative;
  right: 40px;
}

section #search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 420px;
}

#search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e2dddd;
  box-shadow: 0px 10px 13px 7px #000000;
  padding: 8px;
  width: 100%;
}
#search #localisation {
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: #e2dddd;
  border: none;
  text-align: center;
}

section #search-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f3f0f0;
  word-spacing: normal;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#functioning {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}
#functioning h3 {
  text-align: left;
  text-decoration: none;
}

.card-functioning {
  display: flex;
  position: relative;
  justify-content: space-around;
  height: 50px;
  width: 280px;
  align-items: center;
  font: normal bold 25px/30px "Roboto" Tahoma;
  background-color: #ece6e6;
  box-shadow: 0px 5px 20px #969393;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  border-top: none;
  overflow-x: none;
}
.card-functioning .serial-number {
  position: absolute;
  align-self: center;
  left: -15px;
  height: 28px;
  border-radius: 50%;
  font-weight: normal;
  color: whitesmoke;
  background-color: #9356DC;
  padding: 5px 10px 8px 8px;
}
.card-functioning i {
  position: relative;
  align-items: center;
  height: 20px;
}

/***MAIN***/
main {
  background-color: whitesmoke;
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: nowrap;
  width: 100%;
  background-color: #f3f0f0;
  word-spacing: normal;
  color: black;
  text-decoration: none;
}
.card-container p {
  font-weight: normal;
}
.card-container h3 {
  text-align: left;
  text-decoration: none;
}

#restaurants .card {
  margin: 20px 5px 20px 5px;
  border: none;
  box-shadow: 0px 5px 20px #b8b7b7;
  border-radius: 20px;
  width: 100%;
}
#restaurants .card:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
#restaurants .card .card-header {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
#restaurants .card .button__button--new {
  position: absolute;
  top: 5%;
  right: 5%;
}
#restaurants .card img {
  display: block;
  height: 220px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#restaurants .card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#restaurants .card-body .card-body__text {
  justify-content: left;
  padding-bottom: 12px;
}
#restaurants .card-body i.far {
  justify-content: right;
  cursor: pointer;
  font-size: xx-large;
  color: black;
}
#restaurants .card-body i.far:hover {
  animation: fill 0.3s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

#menus .card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menus .card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 5px 20px 5px;
  border: none;
  box-shadow: 0px 5px 20px #b8b7b7;
  border-radius: 20px;
  height: 70px;
  width: 100%;
  overflow: hidden;
}
#menus .card .menu-text {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  text-align: left;
  flex-wrap: wrap;
  text-overflow: ellipsis;
  width: 70%;
  padding: 4px 4px 4px 4px;
}
#menus .card .container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  height: 70px;
  width: 30%;
}
#menus .card .container p {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  height: 100%;
  padding-right: 10px;
}
#menus .card .container .check {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background-color: #99E2D0;
  font-size: x-large;
  height: 100%;
  width: 50%;
  border-radius: 0px 20px 20px 0px;
}

#menus {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 420px;
}
#menus .img {
  width: 100%;
}
#menus h3 {
  display: inline-block;
  font: normal normal 22px/33px "Shrikhand", tahoma;
  align-items: start;
}
#menus i.far {
  display: inline-block;
  align-items: end;
}
#menus h4 {
  font-style: underline;
  white-space: normal;
  display: flex;
}
#menus span {
  border-bottom: solid 2px #99E2D0;
  position: relative;
  white-space: normal;
  padding: 5px;
}

#menus .card-container {
  padding-top: 25px;
  position: relative;
  top: -45px;
  border-radius: 35px;
  box-shadow: 0px 5px 20px #b8b7b7;
  max-width: 420px;
  background-color: #f3f0f0;
  word-spacing: normal;
  color: black;
  text-decoration: none;
}
#menus .card-container h5 {
  font-style: bold;
  left: 5px;
}
#menus .card-container .button {
  flex-direction: column;
  justify-content: right;
  align-items: center;
}

.card:hover > .container {
  transform: translateX(0px);
}
.card:hover > .container i {
  transform: rotate(0deg);
}
.card .container {
  transform: translateX(70px);
  transition: transform 500ms ease-in-out;
  overflow: hidden;
}
.card .container i {
  transform: rotate(360deg);
  transition: transform 500ms ease-in-out;
}

/***Section footer***/
footer {
  min-height: 150px;
  display: flex;
  flex-direction: center;
  align-content: center;
  text-indent: 2px;
  justify-content: center;
  flex-wrap: nowrap;
  text-decoration: none;
  color: whitesmoke;
}
footer .footer-title {
  font: oblique normal 18px/24px "Shrikhand";
}
footer .footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 160px;
  width: 100%;
  background-color: #535050;
  color: whitesmoke;
  text-decoration: none;
  padding: 15px;
  margin: 10px;
}
footer .footer-nav a {
  text-align: center;
  font: normal normal 16px/22px "Roboto" Tahoma;
  text-decoration: none;
  color: whitesmoke;
}

.button {
  background: -webkit-linear-gradient(bottom, #9356DC, #FF79DA);
  font-size: 18px;
  color: whitesmoke;
  box-sizing: content-box;
  padding: 5px;
  margin: 20px;
  border-top: 20px;
  border-style: none;
  border-radius: 30px;
  letter-spacing: 1px;
  box-shadow: 0 5px 15px #969393;
  height: 50px;
  width: 260px;
}
.button__button--new {
  display: grid;
  font-weight: bold;
  place-items: center;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 80px;
  height: 30px;
  background: #99E2D0;
  color: #1b6150;
  border-radius: 5px;
}
.button:hover {
  transform: scale(1.02);
  transition: 0, 2s;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
