header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
header #topLogo {
  height: 60px;
  padding-top: 2px;
  width: 100%;
  box-shadow: 0px 10px 13px -7px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #searchSection {
  width: 100%;
  text-align: center;
  background-color: #e2dddd;
  box-shadow: 0px 10px 13px -7px #000000;
  padding: 8px;
}
header #searchSection #localisation {
  background-color: #e2dddd;
  border: none;
  text-align: center;
}
header #searchRestaurant {
  width: 100%;
  background-color: #f3f0f0;
  word-spacing: normal;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
header .functioning {
  display: flex;
  position: relative;
  justify-content: space-around;
  height: 50px;
  width: 320px;
  align-items: center;
  font: normal bold 25px/30px "Roboto" Tahoma;
  background-color: #ece6e6;
  box-shadow: 0px 5px 20px #969393;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  border-top: none;
  overflow-x: none;
}
header .functioning .serial-number {
  position: absolute;
  align-self: center;
  left: -15px;
  height: 28px;
  border-radius: 50%;
  font-weight: normal;
  color: whitesmoke;
  background-color: #9356DC;
  padding: 5px 10px 8px 8px;
}
header .functioning i {
  position: relative;
  align-items: center;
  height: 20px;
}

#restaurants {
  text-align: left;
  display: grid;
  flex-direction: center;
  justify-content: center;
  align-content: center;
}

#restaurants .card-container {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;
  background-color: #f3f0f0;
  word-spacing: normal;
  color: black;
  text-decoration: none;
}
#restaurants .card-container p {
  font-weight: normal;
}
#restaurants .card-container h4 {
  text-align: left;
  text-decoration: none;
}

.card {
  height: 310px;
  width: 350px;
  margin-bottom: 30px;
  margin-top: 30px;
  border: none;
  box-shadow: 0px 5px 20px #b8b7b7;
  overflow-x: none;
  border-radius: 20px;
}
.card:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.card .card-header {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
}
.card .button__button--new {
  position: absolute;
  top: 5%;
  right: 5%;
}
.card img {
  display: block;
  height: 220px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

i.fas,
i.far {
  cursor: pointer;
  font-size: xx-large;
}

i.fas {
  opacity: 1;
  color: #9356dc;
}
i.fas:hover, i.fas:active {
  animation: heart-grow 1000ms ease-in-out;
  opacity: 0;
}

#menus .card-container {
  background: gray;
  border-radius: 10px;
  box-shadow: 0px 5px 20px #b8b7b7;
}

.button {
  background: -webkit-linear-gradient(bottom, #9356DC, #FF79DA);
  font-size: 18px;
  color: whitesmoke;
  box-sizing: content-box;
  padding: 5px;
  margin: 20px;
  border-top: 20px;
  border-style: none;
  border-radius: 30px;
  letter-spacing: 1px;
  box-shadow: 0 5px 15px #969393;
  height: 50px;
  width: 260px;
}
.button__button--new {
  display: grid;
  font-weight: bold;
  place-items: center;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 80px;
  height: 30px;
  background: #99E2D0;
  color: #1b6150;
  border-radius: 5px;
}
.button:hover {
  transform: scale(1.02);
  transition: 0, 2s;
  cursor: pointer;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Tahoma, sans-serif;
  color: black;
}

h1 {
  font: normal bolder 22px/33px "Roboto", Tahoma;
  text-align: center;
}

h2 {
  font: normal normal 22px/33px "Roboto", Tahoma;
  text-align: center;
}

h3 {
  font: normal bolder 22px/33px "Roboto", Tahoma;
  padding: 20px;
  font-weight: bold;
  text-align: left;
}

h4 {
  font: normal bolder 18px/28px "Roboto", Tahoma;
  padding-top: 20px;
}

h5 {
  text-align: left;
}

h6 {
  text-align: left;
}

a {
  color: black;
  text-align: center;
}

ul {
  list-style-type: none;
}

p {
  font: normal bold 15px/20px "Roboto" Tahoma;
  text-align: left;
}

/*** Section LOGO, recherche, navbar***/
/***Section de localisation et recherche des restaurants***/
main {
  background-color: whitesmoke;
  width: 100%;
  margin: 0 auto;
  text-indent: 2px;
  flex: display;
  justify-content: center;
  align-items: space-around;
  flex-direction: center;
}

/***Section footer***/
footer {
  min-height: 150px;
  margin: 20px;
  display: flex;
  align-content: center;
  text-indent: 2px;
  justify-content: center;
  flex-wrap: nowrap;
  text-decoration: none;
  color: whitesmoke;
}
footer .footerTitle {
  font: oblique normal 18px/24px "Shrikhand";
}
footer .footernav {
  height: 160px;
  width: 100%;
  background-color: #535050;
  color: whitesmoke;
  text-decoration: none;
  padding: 15px;
  margin: 10px;
}
footer .footernav a {
  text-align: center;
  font: normal normal 16px/22px "Roboto" Tahoma;
  text-decoration: none;
  color: whitesmoke;
}

/*# sourceMappingURL=style.css.map */
