
@import url(https://fonts.googleapis.com/css?family=Shrikhand);
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

@keyframes open-card {
    0% {
      opacity: 0;
      transform: translateY(10px);
      -webkit-transform: translateY(10px);
      -moz-transform:translateY(10px);
    }
    
    100% {
      opacity: 1;
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
    }
  }
  
  
   #menus fieldset .card:nth-child(1) {
    -webkit-animation: open-card 1s 50ms backwards ease-in-out;
    -moz-animation: open-card 1s 50ms backwards ease-in-out;
    animation: open-card 1s 50ms backwards ease-in-out;
  }
  
  #menus fieldset .card:nth-child(2) {
    -webkit-animation: open-card 1s 150ms backwards ease-in-out;
    -moz-animation: open-card 1s 150ms backwards ease-in-out;
    animation: open-card 1s 150ms backwards ease-in-out;
  }
  
  #menus fieldset .card:nth-child(3) {
    -webkit-animation: open-card 1s 250ms backwards ease-in-out;
    -moz-animation: pen-card 1s 250ms backwards ease-in-out;
    animation: open-card 1s 250ms backwards ease-in-out;
  }
  
  #menus fieldset .card:nth-child(4) {
    -webkit-animation: open-card 1s 350ms backwards ease-in-out;
    -moz-animation: open-card 1s 350ms backwards ease-in-out;
    animation: open-card 1s 350ms backwards ease-in-out;
  }
  #menus fieldset .card:nth-child(5) {
    -webkit-animation: open-card 1s 450ms backwards ease-in-out;
    -moz-animation: open-card 1s 450ms backwards ease-in-out;
    animation: open-card 1s 450ms backwards ease-in-out;
  }
  #menus fieldset .card:nth-child(6) {
    -webkit-animation: open-card 1s 550ms backwards ease-in-out;
    -moz-animation: open-card 1s 550ms backwards ease-in-out;
    animation: open-card 1s 550ms backwards ease-in-out;
  }
  #menus fieldset .card:nth-child(7) {
    -webkit-animation: open-card 1s 650ms backwards ease-in-out;
    -moz-animation:open-card 1s 650ms backwards ease-in-out;
    animation: open-card 1s 650ms backwards ease-in-out;
  }
  #menus fieldset .card:nth-child(8) {
    -webkit-animation: open-card 1s 750ms backwards ease-in-out;
    -moz-animation: open-card 1s 750ms backwards ease-in-out;
    animation: open-card 1s 750ms backwards ease-in-out;
  }
  #menus fieldset .card:nth-child(9) {
    -webkit-animation: open-card 1s 850ms backwards ease-in-out;
    -moz-animation: open-card 1s 850ms backwards ease-in-out;
    animation: open-card 1s 850ms backwards ease-in-out;
  }
  #menus fieldset .card:nth-child(10) {
    -webkit-animation: open-card 1s 950ms backwards ease-in-out;
    -moz-animation: open-card 1s 950ms backwards ease-in-out;
    animation: open-card 1s 950ms backwards ease-in-out;
  }
 
  @keyframes fill {
    0% {
      opacity: 0.4;
    }

    25% {
      opacity: 0.6;
    }

    75% {
      opacity: 0.8;
    }
    
    100% {
      opacity: 1;
    }
  }
  
  
  